# IDE
.vscode/
*.code-snippets

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# Env
.env
.env.local

# Node / Tailwind
node_modules/
package.json
package-lock.json
tailwind.config.js
static/css/input.css

# Python venv (geração de ícones)
.venv-icons/

# Project specific
TODO.md
generate_icons.py
